{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Kalendar</h1>
        <h3>For the kids and for you.</h3>
        <p class="lead">This application was built for DivHacks 2020!</p>
    </div>
    <div class="text-center">
        <p>We know the transition to working from home can be tough. If your kid's transition to virtual learning has made it even tougher, we suggest using Kalendar. Make your home lives easier by integrating your kids' daily activities into your Google Calendar!</p>
    </div>
{% endblock %}