{% extends 'layout.html' %}

{% block body %}
    <h1>Reward</h1>
    <p>
        100 points to the next reward 
    </p>
    <p>
        This is your reward progress: 
    </p>
    <p>
        Art ---------------------- 5 points (completed)
    </p>
    <p>
        Social Sciences -------- 6 points (in progress)
    </p>
    <p>
        Math -------------------- 3 points (not completed)
    </p>
    <p>
        Below are your past rewards: 
    </p>
    <p>
        10/24/2020 -- 94 points 
    </p>
{% endblock%}
