{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Your Kids</h1>
        <p class="lead">This application was built for DivHacks2020!</p>
    </div>
    <form action="#" method="post">
        <p>First Name:</p>
        <p><input type="text" name="fn" /></p>
        <p>Last Name:</p>
        <p><input type="text" name="ln" /></p>
        <p>Age:</p>
        <p><input type="text" name="age" /></p>

        <p><input type="submit" value="submit"/></p>
    </form>
{% endblock %}